.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
    &__primary {
        background: #0D2949;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: 600;
        &:hover {
            opacity: .7;
        }
    }
}