.footer-section {
    position: relative;
    padding-top: 140px;
    z-index: 99;
    @include for-max-574 {
        padding-top: 50px;
    }
    &__content {
        &:first-of-type {
            flex: 2;
            @include for-max-767 {
                flex: none;
            }
            p {
                max-width: 397px;
            }
        }
        flex: 1;
        @include for-max-767 {
            flex: none;
        }
        ul {
            li {
                margin-bottom: 20px;
                a {
                    color: $text-light-black;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}