.map-section {
    padding-top: 100px;
    // height: 840px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include for-max-574 {
        padding-top: 50px;
    }
    &__map {
        img {
            position: relative;
            z-index: -2;
            width: 100%;
        }
    }
    &__line {
        margin-top: auto;
        position: absolute;
        bottom: -85px;
        width: 100%;
        img {
            width: 100%;
        }
    }
}