$nav-clr: #97ABC2;
$text-black: #0D2949;
$text-light-black: #5A718B;
$border-bg: #EAEEF2;
$brown: #766446;
$brown-light: #B28E6F;
$underline: #E4ECF0;
$footer-text: #30445B;
$success: #42AC6C;
$rejected: #CAD4D1;